*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main{
 

   min-height: 90svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    font-family: 'Righteous', cursive;



}
.firstDiv{
    min-height: 90svh;
    width: 49%;
    background-color: rgba(135, 40, 255, 1);
    display: flex;
    flex-direction: column;

      background-image: url('../../Img/blackMan.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
  
    
}


.firstDivText{
    
   padding-top: 2em;
    width: 40%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    margin-left: 100px;
    border-bottom:2px solid #FF0000;

    
   


}




.secondDiv{

       min-height: 90svh;
        width: 49%;
         display: flex;
        flex-direction: column;
        background-color: #FF0000;

           background-image: url('../../Img/tshirt.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

   
   
}

.seconDivText{
      padding-top: 2em;
          width: 40%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.3rem;
        margin-left: 100px;
       border-bottom:2px solid rgba(135, 40, 255, 1);
    
   


}



.secondDivImg{
    height: 85vmin;
    width: 100%;
    padding: 10px;
    background-image: url('../../Img/tshirt.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
  

   
  
}



@media (max-width:992px){
.main {


        min-height: 90svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        font-family: 'Righteous', cursive;



    }

    .firstDiv {
        min-height:50svh;
        width: 80%;
        background-color: rgba(135, 40, 255, 1);
        display: flex;
        flex-direction: column;

        background-image: url('../../Img/blackMan.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;


    }


    .firstDivText {

        padding-top: 2em;
        width: 40%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.3rem;
        margin-left: 100px;
     





    }




    .secondDiv {

        min-height: 50svh;
            width: 80%;
        display: flex;
        flex-direction: column;
        background-color: #FF0000;

        background-image: url('../../Img/tshirt.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;



    }

    .seconDivText {
        padding-top: 2em;
        width: 40%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.3rem;
        margin-left: 100px;
        border-bottom: 2px solid rgba(135, 40, 255, 1);




    }



    .secondDivImg {
        height: 85vmin;
        width: 100%;
        padding: 10px;
        background-image: url('../../Img/tshirt.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;




    }
}



@media (max-width:768px) {
    .main {


      min-height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        font-family: 'Righteous', cursive;



    }

    .firstDiv {
        min-height: 50svh;
        width: 90%;
        background-color: rgba(135, 40, 255, 1);
        display: flex;
        flex-direction: column;

        background-image: url('../../Img/blackMan.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;


    }


    .firstDivText {

        padding-top: 2em;
        width: 40%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 1rem;
        margin-left: 100px;
        border-bottom: 2px solid #FF0000;





    }




    .secondDiv {

        min-height: 50svh;
        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: #FF0000;

        background-image: url('../../Img/tshirt.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;



    }

    .seconDivText {
        padding-top: 2em;
        width: 40%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 1rem;
        margin-left: 100px;
        border-bottom: 2px solid rgba(135, 40, 255, 1);




    }



    .secondDivImg {
        height: 85vmin;
        width: 100%;
        padding: 10px;
        background-image: url('../../Img/tshirt.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;




    }
}





@media (max-width:600px) {
    .main {


        min-height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        font-family: 'Righteous', cursive;



    }

    .firstDiv {
        min-height: 60svh;
        width: 100%;
        background-color: rgba(135, 40, 255, 1);
        display: flex;
        flex-direction: column;

        background-image: url('../../Img/blackMan.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;


    }


    .firstDivText {

        padding-top: 2em;
        width: 60%;
        display: flex;
        align-items: center;
        color: white;
        font-size: .9rem;
        margin-left: 50px;
        border-bottom: 2px solid #FF0000;





    }




    .secondDiv {

        min-height: 60svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FF0000;

        background-image: url('../../Img/tshirt.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;



    }

    .seconDivText {
        padding-top: 2em;
        width: 60%;
        display: flex;
        align-items: center;
        color: white;
        font-size: .9rem;
        margin-left: 50px;
        border-bottom: 2px solid rgba(135, 40, 255, 1);




    }



}