*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main{
    
position: fixed;
top: 0%;
left: 0%;
width: 100%;
padding: .6em;
background-color: white;
z-index: 10;
color: black;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
font-family: 'Righteous', cursive;

}

.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;

    font-size: 1.2rem;
    /* border: 1px solid red; */
}

.logo div a{
    color: black;
   text-decoration: none;
}


.navItems{
width:55%;
display: flex;
align-items: center;
justify-content: space-around;
font-size: 1rem;
list-style: none;

/* border: 1px solid red; */

}

.navItems li a{
    color: black;
    text-decoration: none;
}


.navItems :hover{
    transition: 600ms;
    color: red;
}



.divOnMouseOverMain{

    position: fixed;
top: 6.4vmin;
left: 0%;

width: 100%;
background-color: white;

z-index: 8;
color: black;
display: flex;
align-items: center;
justify-content: space-evenly;
cursor: pointer;
font-family: 'Righteous', cursive;


}

.divOnMouseOverFirst{
  
    width: 70%;
color: black;
display: flex;

justify-content: space-between;
cursor: pointer;
font-family: 'Righteous', cursive;
padding: 3em;




}

.divOnMouseOverFirst div{


    width: 25%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
   
    /* border: 1px solid green; */
}
.divOnMouseOverFirst div li a{

    color: black;
    text-decoration: none;
    font-size: .9rem;
}

.divOnMouseOverFirst div li:nth-child(1){
  
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    font-weight: bolder;
}

.divOnMouseOverFirst div{
    padding: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    /* border: 1px solid green; */
}


.divOnMouseOverFirst div:nth-child(3){
    padding: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    /* border: 1px solid green; */
}
.divOnMouseOverFirst div:nth-child(4){
padding: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.divOnMouseOverFirst input[type=text]{
    width: 25%;

}


.divOnMouseOverFirst div li:hover{
    text-decoration: underline;
    transition: 600ms;
}

.divOnMouseOverFirstInput{
  
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
  
/*    
    border: 1px solid green; */

}
.divOnMouseOverFirstInput div li{
    padding: 5px;
}



.divOnMouseOverFirstInput input[type=text]{
    width: 100%;
   padding: .4em;
}

.main768{
    display: none;
}



.divOnMouseOverMain768{
    display: none;
}

.divOnMouseOverFirst768{
    display: none;
}






@media(max-width:1200px){
.divOnMouseOverFirst {

        width: 80%;
        color: black;
        display: flex;

        justify-content: space-between;
        cursor: pointer;
        font-family: 'Righteous', cursive;
        padding: 3em;




    }
}












@media(max-width:992px) {
    .divOnMouseOverFirst {

        width: 90%;
        color: black;
        display: flex;

        justify-content: space-between;
        cursor: pointer;
        font-family: 'Righteous', cursive;
        padding: 3em;




    }
}





@media(max-width:768px) {
    .main {
    
            display: none;
    
        }
    
        .navItems {
            display: none;
        }
    
        .divOnMouseOverMain {
            display: none;
        }

 .main768 {
     padding: .5em;
     position: fixed;
     top: 0%;
     left: 0%;
     min-height: 6.5vh;
     font-size: .85rem;
     width: 100%;
     background-color: white;
     z-index: 12;
     color: black;
     display: flex;
     align-items: center;
     justify-content: space-between;
     cursor: pointer;
     font-family: 'Righteous', cursive;
     /* border: 1px solid red; */

 }


 .navItems768 {

     width: 35%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     list-style: none;
     padding-right: 3px;

     /* border: 1px solid red; */
 }


 .navItems768 svg {
     font-size: 1.1rem;
 }


 .logo768 {


     width: 25%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     text-decoration: none;

     font-size: 1.1rem;
     /* border: 1px solid red; */

 }




 .logo768 div a {
     color: black;
     text-decoration: none;
 }



 .divOnMouseOverMain768 {
     z-index: 11;
     overflow-y: scroll;

     position: fixed;
     top: 6.4vh;
     left: 0%;
     min-height: 94svh;
     width: 100%;
     background-color: white;
     z-index: 11;
     color: black;
     display: flex;

     justify-content: space-around;

     cursor: pointer;
     font-family: 'Righteous', cursive;

     overflow: scroll;


 }

 .divOnMouseOverFirst768 {




     width:85%;
     color: black;
     display: flex;

     flex-direction: column;
     justify-content: space-around;
     list-style: none;
     cursor: pointer;
     font-family: 'Righteous', cursive;




 }

 .divOnMouseOverFirst768 li {
     font-size: 1rem;
     color: black;

     display: flex;
     align-items: center;
     justify-content: space-between;


     /* border: 1px solid red;*/
 }




 .divOnMouseOverFirst768 div li a {

     text-decoration: none;
     color: black;
     border: 0px;
     width: 75%;
     margin-left: 20px;
     border-bottom-color: transparent;
     font-weight: 100;

 }



 .cards {
     font-size: 1.2rem;
 }

 .serchBar768 input[type=text] {
     padding: .5em;
     width: 80%;
 }
}
















@media(max-width:600px) {

    .main768 {
        padding: .5em;
        position: fixed;
        top: 0%;
        left: 0%;
        min-height: 6.5vh;
        font-size: .85rem;
        width: 100%;
        background-color: white;
        z-index: 12;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-family: 'Righteous', cursive;
        /* border: 1px solid red; */

    }


    .navItems768 {

        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding-right: 3px;

        /* border: 1px solid red; */
    }


    .navItems768 svg {
        font-size: .85rem;
    }


    .logo768 {


        width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: none;

        font-size: .85rem;
        /* border: 1px solid red; */

    }




    .logo768 div a {
        color: black;
        text-decoration: none;
    }



    .divOnMouseOverMain768 {
        z-index: 11;
        overflow-y: scroll;

        position: fixed;
        top: 6.4vh;
        left: 0%;
        min-height: 94svh;
        width: 100%;
        background-color: white;
        z-index: 11;
        color: black;
        display: flex;

        justify-content: space-around;

        cursor: pointer;
        font-family: 'Righteous', cursive;

        overflow: scroll;
       

    }

    .divOnMouseOverFirst768 {




        width: 90%;
        color: black;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        cursor: pointer;
        font-family: 'Righteous', cursive;




    }

    .divOnMouseOverFirst768 li {
font-size: .85rem;
        color: black;

        display: flex;
        align-items: center;
        justify-content: space-between;


        /* border: 1px solid red;*/
    }




    .divOnMouseOverFirst768 div li a {
      
        text-decoration: none;
        color: black;
        border: 0px;
        width: 75%;
        margin-left: 20px;
        border-bottom-color: transparent;
        font-weight: 100;

    }



    .cards {
        font-size: .9rem;
    }

    .serchBar768 input[type=text] {
        padding: .5em;
        width: 80%;
    }

}



