






.main {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    cursor: pointer;



}

.emptyDiv {
    padding: 2em;
    width: 100%;
    /* border: 1px solid red; */
}




.slideTextDiv {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;

    /* border: 1px solid blue */

}


.secondDiv {

    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    margin-bottom: 1em;

    /* border: 1px solid red; */

}






.secondDivHeadline {

    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-family: 'Righteous', cursive;
    font-size: 1.1rem;




}




.secondDivImage {


    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;


}

.imageText {
    /* padding: 1em; */
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .95rem;


}


.imageText .img {
    width: 100%;
    border-radius: .5em;




}





.imageText .img:hover {
    transition: 750ms;
    transform: scale(0.96);
}


@media (max-width:1400px) {
    .secondDiv {

        width: 87%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;

        /* border: 1px solid red; */

    }
}


@media (max-width:1200px) {
    .secondDiv {

        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;

        /* border: 1px solid red; */

    }
}




@media (max-width:992px) {
    .imageText {

        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .95rem;



    }

    .imageText .img {
        width: 100%;
        border-radius: .5em;
        min-height: auto;
    }



}











@media (max-width:768px) {

    .slideTextDiv {

        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }


    .secondDiv {

        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;

        /* border: 1px solid red; */

    }






    .secondDivHeadline {

        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        align-self: flex-start;
        font-family: 'Righteous', cursive;
        font-size: .9rem;




    }




    .secondDivImage {


        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    .imageText {

        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .85rem;

        padding: 1em;


    }


    .imageText .img {
        width: 100%;
        border-radius: .5em;
        min-height: auto;
    }

}
















@media (max-width:600px) {

    .slideTextDiv {

        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }


    .secondDiv {

        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1.5em;

        /* border: 1px solid red; */

    }






    .secondDivHeadline {

        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        align-self: flex-start;
        font-family: 'Righteous', cursive;
        font-size: .9rem;




    }




    .secondDivImage {


        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;



    }

    .imageText {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .85rem;
            padding: 2em;

    }


    .imageText .img {
        width: 100%;
        border-radius: .5em;
        min-height: auto;
    }

}

















@media (max-width:450px) {

    .slideTextDiv {

        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }


    .secondDiv {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1.5em;

        /* border: 1px solid red; */

    }






    .secondDivHeadline {

        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        align-self: flex-start;
        font-family: 'Righteous', cursive;
        font-size: .95rem;




    }




    .secondDivImage {


        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;



    }

    .imageText {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .85rem;


    }


    .imageText .img {
        width: 100%;
        border-radius: .5em;







    }

}