.main{
 


    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    cursor: pointer;

 

}

.emptyDiv{
   padding: 2em;
    width: 100%;
    /* border: 1px solid red; */

}


.slideTextDiv{
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    /* border: 1px solid blue; */


}


.secondDivImage{
   padding: 1em;
    width: 65%;
    display: flex;
    justify-content: space-between;

    /* border: 2px solid red; */
   
}

.secondDivImage img{
    width: 49%;
    max-height: 25rem;
    height: auto;
    border-radius: 5px;
    
}

.secondDivImageText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    font-size:1rem;
  
    

}
.secondDivImageText div:nth-child(4){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.secondDivImageText div:nth-child(4) button{

    width: 23%;

}


.secondDivImageText button{
    font-size: .9rem;
    padding: .6em;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border-radius: .5em;
}

.secondDivImageText button:hover{
    transition: 600ms;
    transform: scale(.97);
    border: .2em solid black;
    background-color: transparent;
    color: black;
}



.hanger{
    font-size: 1.2rem;
}



.desciption{
    padding: 2em;
    width: 60%;
    align-self: center;
    
    font-size: 1rem;
    padding-right: 150px;
   
    
     display: flex;
     flex-direction: column;
   
     justify-content: space-between;

  

}
.desciption div:nth-child(1){
    padding: 1em;
    font-size: 1.2rem;
    text-decoration: underline;
}





@media (max-width:1200px){
    .secondDivImage {
            padding: 1em;
            width: 70%;
            display: flex;
            justify-content: space-between;
    
       
    
        }
}






@media(max-width:992px){
    .slideTextDiv {
            padding: 2em;
            width: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 1rem;

    
    
        }
    
    
        .secondDivImage {
            padding: 1em;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom:2em ;
    
        
    
        }
    
        .secondDivImage img {
            width: 100%;
            max-height: 25rem;
            margin-bottom: 2em;
            border-radius: 5px;
    
        }
    
        .secondDivImageText {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            font-size: 1rem;
    
    
    
        }
    
        .secondDivImageText div:nth-child(4) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
        }
    
        .secondDivImageText div:nth-child(4) button {
    
            width: 23%;
    
        }
    
    
        .secondDivImageText button {
            font-size: .9rem;
            padding: .6em;
            cursor: pointer;
            background-color: #000000;
            color: white;
            border-radius: .5em;
        }
    
        .secondDivImageText button:hover {
            transition: 600ms;
            transform: scale(.97);
            border: .2em solid black;
            background-color: transparent;
            color: black;
        }
    
    
    
        .hanger {
            font-size: 1.2rem;
        }
    
    
    
        .desciption {
            padding: 2em;
            width: 60%;
            align-self: center;
    
            font-size: 1rem;
            padding-right: 0px;
    
    
            display: flex;
            flex-direction: column;
    
            justify-content: space-between;
    
    
    
        }
    
        .desciption div:nth-child(1) {
            padding: 1em;
            font-size: 1.2rem;
            text-decoration: underline;
        }
}









@media(max-width:768px) {
    .slideTextDiv {
        padding: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: .9rem;



    }


    .secondDivImage {
        padding: 1em;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2em;



    }

    .secondDivImage img {
        width: 100%;
        max-height: 25rem;
        margin-bottom: 2em;
        border-radius: 5px;

    }

    .secondDivImageText {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        font-size: .9rem;



    }

    .secondDivImageText div:nth-child(4) {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .secondDivImageText div:nth-child(4) button {

        width: 23%;

    }


    .secondDivImageText button {
        font-size: .85rem;
        padding: .6em;
        cursor: pointer;
        background-color: #000000;
        color: white;
        border-radius: .5em;
    }

    .secondDivImageText button:hover {
        transition: 600ms;
        transform: scale(.97);
        border: .2em solid black;
        background-color: transparent;
        color: black;
    }



    .hanger {
        font-size: 1.1rem;
    }



    .desciption {
        padding: 2em;
        width: 75%;
        align-self: center;

        font-size: .9rem;
        padding-right: 0px;


        display: flex;
        flex-direction: column;

        justify-content: space-between;



    }

    .desciption div:nth-child(1) {
        padding: 1em;
        font-size: 1rem;
        text-decoration: underline;
    }
}









@media(max-width:600px) {
    .slideTextDiv {
        padding: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: .85rem;



    }


    .secondDivImage {
        padding: 1em;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2em;



    }

    .secondDivImage img {
        width: 100%;
        max-height: 25rem;
        margin-bottom: 2em;
        border-radius: 5px;

    }

    .secondDivImageText {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        font-size: .85rem;



    }

    .secondDivImageText div:nth-child(4) {
        width: 100%;
        
        display: flex;

 
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-evenly;
       

    }

    .secondDivImageText div:nth-child(4) button {
margin-bottom: .7em;
margin-right: 1em;
        width:45%;
        
   

    }


    .secondDivImageText button {
        font-size: .8rem;
        padding: .6em;
        cursor: pointer;
        background-color: #000000;
        color: white;
        border-radius: .5em;
    }

    .secondDivImageText button:hover {
        transition: 600ms;
        transform: scale(.97);
        border: .2em solid black;
        background-color: transparent;
        color: black;
    }



    .hanger {
        font-size: 1rem;
    }



    .desciption {
        padding: 2em;
        width: 95%;
        align-self: center;

        font-size: .85rem;
     


        display: flex;
        flex-direction: column;

        justify-content: space-between;



    }

    .desciption div:nth-child(1) {
        padding: 1em;
        font-size: .9rem;
        text-decoration: underline;
    }
}




@media (max-width:450px){
    .secondDivImage {
            padding: 1em;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2em;
    
    
    
        }
}