.main{
 

    min-height: 100vmin;
    width: 100%;
    display: flex;
   align-items: center;

    flex-direction: column;
    font-family: 'Righteous', cursive;
    cursor: pointer;

 

}

.emptyDiv{
    height: 10vmin;
    width: 100%;
    /* border: 1px solid red; */
}


.imageText{
    min-height:10vmin;
    width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      padding: 5px;
      font-size: 2.1vmin;
/* 
      border: 1px solid blue; */
}

.img{
    height: 150px;
    width: 100px;
}

.ukupno{
    min-height:10vmin;
    width: 85%;
      display: flex;
      flex-direction: column;
      font-size: 2.2vmin;
    
    justify-content:flex-end;
    /* border: 1px solid red; */
 

}


@media only screen and (min-width: 1601px) and (max-width: 2562px) {


  .imageText{
    min-height:10vh;
    width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      padding: 5px;
      font-size: 1.25rem;
/* 
      border: 1px solid blue; */
}

.ukupno{
  min-height:10vh;
  width: 85%;
    display: flex;
    flex-direction: column;
  
  justify-content:flex-end;
  font-size: 1.25rem;
  /* border: 1px solid red; */


}



}




@media only screen and (max-width:992px) {

    .imageText{
        min-height:10vh;
        width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid black;
          padding:5px;
    
     
          font-size: 2.1vmin;
    }
 
  }



  
@media only screen and (max-width:768px) {

    .imageText{
        min-height:10vh;
        width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid black;
         
    
       
          font-size: 2.1vmin;
    }

        .ukupno {
          min-height: 10vmin;
          width: 85%;
          display: flex;
          flex-direction: column;
          font-size: 2.3vmin;
    
          justify-content: flex-end;
          /* border: 1px solid red; */
    
    
        }


 
  }





    @media only screen and (max-width:600px) {
  
      .imageText {
        min-height: 10vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
  
  
  
        font-size: 2.4vmin;
      }


            .ukupno {
              min-height: 10vmin;
              width: 85%;
              display: flex;
              flex-direction: column;
              font-size: 2.5vmin;
      
              justify-content: flex-end;
              /* border: 1px solid red; */
      
      
            }
  
  
  
    }






        @media only screen and (max-width:500px) {
    
          .imageText {
            min-height: 10vh;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid black;
    
    
    
            font-size: 2.8vmin;
          }
    
    
          .ukupno {
            min-height: 10vmin;
            width: 85%;
            display: flex;
            flex-direction: column;
            font-size: 2.95vmin;
    
            justify-content: flex-end;
            /* border: 1px solid red; */
    
    
          }
    
    
    
        }

