@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



.main {

    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    cursor: pointer;

}



.empty {
    padding: 1.5em;
    width: 100%;
    /* border: 1px solid red; */

}


.secondDiv {
    padding: 1.2em;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    margin-bottom: 1em;
    /* border: 1px solid red; */
}






@media (max-width:992px) {

    .main {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1.5em;
        width: 100%;
        /* border: 1px solid red; */

    }

    


    .secondDiv {

        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;

        /* border: 1px solid red; */
    }


}








@media (max-width:768px) {

  


    .secondDiv {

        width: 80%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: .95rem;
        padding: 1em;

        /* border: 1px solid red; */
    }

    .secondDiv div {
        padding: .7em;
    }


}













@media (max-width: 600px) {

    .main {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1em;
        width: 100%;
        /* border: 1px solid red; */

    }

  


    .secondDiv {

        width: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: .9rem;
        padding: 1em;

        /* border: 1px solid red; */
    }

    .secondDiv div {
        padding: .7em;
    }


}






@media (max-width: 450px) {

    .main {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        cursor: pointer;

    }



    .empty {
        padding: 1em;
        width: 100%;
        /* border: 1px solid red; */

    }

  




    .secondDiv {

        width: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: .85rem;
        padding: 1em;

        /* border: 1px solid red; */
    }

    .secondDiv div {
        padding: .7em;
    }


}