*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main{
 
    min-height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
     font-family: 'Righteous', cursive;

    background-image: url('../../Img/black.png');
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 

}





.slideTextDiv{
  padding-top: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
    /* border: 1px solid blue; */

}


.secondDiv{
    width:65%;
    padding: 2em;
    display: flex;
    flex-direction: column;
     cursor: pointer;


    /* border: 1px solid blue; */

   
}

.secondDiv div{
    padding: .8em;
}

.secondDiv div:nth-child(1){
   font-size: 1.3rem;
}

.secondDiv div:nth-child(2) {
    font-size: 1.3rem;
}




.secondDiv button{
 
padding: .6em;
   width: 200px;
   background-color: transparent;
   font-size: 1.1rem;
   border-radius: 6px;
   margin-bottom: 1em;

   
    
}



.secondDiv button:hover{
    transition: 600ms;
    border:.2em solid white;
    background-color: black;
    color: white;
}










@media(max-width:992px){
    .main {
    
            min-height: 95svh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-family: 'Righteous', cursive;
    
            background-image: url('../../Img/black.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
    
        }
}





@media(max-width:768px) {

    .main {
    
            min-height:90svh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-family: 'Righteous', cursive;
    
            background-image: url('../../Img/black.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
    
        }


.slideTextDiv {
        padding-top: 2.5em;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;


    }


    .secondDiv {
        width: 75%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 7em;


     


    }

    .secondDiv div {
        padding: .8em;
    }

    .secondDiv div:nth-child(1) {
        font-size: 1.2rem;
    }

    .secondDiv div:nth-child(2) {
        font-size: 1.2rem;
    }




    .secondDiv button {

        padding: .6em;
        width: 180px;
        background-color: transparent;
        font-size: 1rem;
        border-radius: 6px;
        margin-bottom: 1em;



    }



}

















@media(max-width:600px) {

    .main {

        min-height: 90svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;

        background-image: url('../../Img/black.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }


    .slideTextDiv {
        padding-top: 2.5em;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;

    }


    .secondDiv {
        width: 85%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 4em;





    }

    .secondDiv div {
        padding: .6em;
    }

    .secondDiv div:nth-child(1) {
        font-size: 1rem;
    }

    .secondDiv div:nth-child(2) {
        font-size: 1rem;
    }




    .secondDiv button {

        padding: .6em;
        width: 180px;
        background-color: transparent;
        font-size: .9rem;
        border-radius: 6px;
        margin-bottom: 1em;



    }



}












@media(max-width:450px) {

    .main {

        min-height: 90svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;

        background-image: url('../../Img/black.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }


    .slideTextDiv {
        padding-top: 2.5em;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: .9rem;
       

    }


    .secondDiv {
        width: 90%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 4em;





    }

    .secondDiv div {
        padding: .6em;
    }

    .secondDiv div:nth-child(1) {
        font-size: .9rem;
    }

    .secondDiv div:nth-child(2) {
        font-size: .9rem;
    }




    .secondDiv button {

        padding: .6em;
        width: 180px;
        background-color: transparent;
        font-size: .85rem;
        border-radius: 6px;
        margin-bottom: 1em;



    }



}