











.main {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    cursor: pointer;



}

.emptyDiv {
    padding: 2em;
    width: 100%;
    /* border: 1px solid red; */
}




.firstText {
    padding: 1em;
    width: 80%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;

    /* border: 1px solid blue */

}


.firstImageDiv {

    width: 82%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Righteous', cursive;
    margin-bottom: 1em;

   

}




.imageText {
    /* padding: 1em; */
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .95rem;


}

.img{
    height: 26rem;
}
.imageText .img {
    width: 100%;
  
    border-radius: .5em;




}





.imageText .img:hover {
    transition: 750ms;
    transform: scale(0.96);
}


.firstImageDiv .imageText:nth-child(even) {
    transform: rotate(-3deg);
    z-index: 4;
}


@media (max-width:1400px) {

    .firstText {
    
            width: 87%;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 1rem;
            padding: 1em;
    
        }
    .firstImageDiv {

        width: 87%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;

        /* border: 1px solid red; */

    }
}


@media (max-width:1200px) {
.firstText {

        width: 92%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }

    .firstImageDiv {

        width: 92%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;

        /* border: 1px solid red; */

    }
}




@media (max-width:992px) {
    .imageText {

        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .95rem;



    }

    .imageText .img {
        width: 100%;
        border-radius: .5em;
        
    }

        .firstImageDiv .imageText:nth-child(even) {
            transform: rotate(0deg);
            z-index: 1;
        }



}











@media (max-width:768px) {

    .firstText {

        width: 75%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }


    .firstImageDiv {

        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;

        /* border: 1px solid red; */

    }








    .imageText {

        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .85rem;

        padding: 1em;


    }

    .img{
        height: 22rem;
    }


    .imageText .img {
        width: 100%;
        border-radius: .5em;
        min-height: auto;
    }

}
















@media (max-width:600px) {

    .firstText {

        width: 85%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }


    .firstImageDiv {

        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1.5em;

        /* border: 1px solid red; */

    }






    .imageText {
      
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .85rem;
       padding: 1em;


    }


    .imageText .img {
        max-height: 25rem;
        width: 100%;
        border-radius: .5em;
        
    }

}

















@media (max-width:450px) {

    .firstText {

        width:90%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em;

    }


    .firstImageDiv {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Righteous', cursive;
        margin-bottom: 1.5em;

        /* border: 1px solid red; */

    }




    .imageText {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .85rem;


    }


    .imageText .img {
        max-height: 25rem;
        width: 100%;
        border-radius: .5em;







    }

}